/*
 * AdSense CSS Stylesheet Responsive Placement
 *
 */

/*
 * Default AdSense
 */
.adsense {
    width: 300px;
    height: 250px;
}
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 300px)
{
    .adsense {
        width: 125px;
        height: 125px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 600px)
{
    .adsense
    { width: 200px;
        height: 200px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 800px)
{
    .adsense {
    width: 300px;
    height: 250px;
    margin:0 auto;
    }
}

/**
 * Top AdSense
 */

.ad-top-1 {
    display:inline-block;
    width:100%;
    height:65px

}
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 300px)
{
    .ad-top-1 {
        display:inline-block;
        width: 320px;
        height: 100px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 600px)
{
    .ad-top-1
    {
        display:inline-block;
        width: 200px;
        height: 200px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 800px)
{
    .ad-top-1 {
        display:inline-block;
        width:100%;
        height:65px
    }
}

/*
 * Top AdSense 2
 * Movie Theater AdSense
 */


.ad-top-2 {
    display:inline-block;
    width:300px;
    height:190px

}
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 300px)
{
    .ad-top-2 {
        width: 320px;
        height: 100px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 600px)
{
    .ad-top-2
    { width: 200px;
        height: 200px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 800px)
{
    .ad-top-2 {
        display:inline-block;
        width:300px;
        height:190px;
    }
}

.ad-top-mobile {
    display:inline-block;
    width:320px;
    height:100px

}
/*
 * Mobile Top Ad
 */
@media (max-width: 480px)
{
    .ad-top-mobile {
        display:inline-block;
        width:320px;
        height:100px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .ad-top-mobile {
        display:none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .ad-top-mobile
    {
        display:none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .ad-top-mobile {
        display:none;
    }
}

/**
 * Sidebar Adsense
 *
 */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 480px)
{
    .ad-sidebar-1 {
        display:none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .ad-sidebar-1 {
        display:none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .ad-sidebar-1
    {
        display:inline-block;
        width:160px;
        height:250px
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .ad-sidebar-1 {
        display:inline-block;
        width:160px;
        height:250px
    }
}

/**
 * Sidebar AdSense 2
 */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 480px)
{
    .ad-sidebar-2 {
        display:none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .ad-sidebar-2 {
        display:none;

    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .ad-sidebar-2
    {
        display:inline-block;
        width:120px;
        height:475px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .ad-sidebar-2 {
        display:inline-block;
        width:120px;
        height:475px;
    }
}


